@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Summer Square';
  src: url('/fonts/SummerSquare.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ebisu Bold';
  src: url('/fonts/EbisuBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  @apply bg-pixelabDark text-white font-sans;
}
